<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand home-padding" [routerLink]="['']">App Name</a>
      </div>
  
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['app']">Portal</a>
          </li>
          <li>
            <a [routerLink]="['']">About</a>
          </li>
          <li>
            <a [routerLink]="['']">Contact</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a [routerLink]="['']">Action</a>
              </li>
              <li>
                <a [routerLink]="['']">Another action</a>
              </li>
              <li>
                <a [routerLink]="['']">Something else here</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a [routerLink]="['']">Separated link</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a [routerLink]="['']">One more separated link</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf='!_userAuth?.isLoggedIn()'>
            <a class="btn btn-default" [routerLink]="['login']">Login</a>
          </li>
          <li *ngIf='_userAuth?.isLoggedIn()' class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <div class="">
                <div class="row text-center">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-8">
                    <img src="http://placehold.it/120x120" alt="Alternate Text" class="text-center img-responsive" />
                  </div>
                  <div class="col-md-1">
                  </div>
                </div>
                <div class="row">
                  <div class="text-center col-md-12">
                    <a>
                      <span>{{'Hi, '+ _userAuth.getUserName()}}</span>
                    </a>
                    <div class="divider">
                    </div>
                    <a class="btn btn-danger btn-sm active" (click)='handleLogout()'>Logout</a>
                  </div>
                </div>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  